<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;700&display=swap"
            rel="stylesheet"
        />
        <script src="/socket.io/socket.io.js"></script>
        <script src="/index.js" defer></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../style.css" />
    </head>
    <body>
        <header>
            <img src="../logo.png" />

            <article>
                <section>
                    <img
                        src="../../uploads/{{list.user.avatar}}"
                        class="profile-pic"
                    />
                    <h2>{{list.user.username}}</h2>
                </section>

                <form method="get" action="/logout">
                    <button type="submit" class="logout-header"></button>
                </form>
            </article>

        </header>
        <main>
            <h2>Productos</h2>
            <article class="products">
                {{#each list.products}}
                    <section>
                        <img src={{image}} />
                        <p>{{name}}</p>
                        <p>{{description}}</p>
                        <p>${{price}}</p>
                        <button>Agregar al carrito</button>
                    </section>
                {{/each}}
            </article>

            <article class="cart">
                <h2>Carrito</h2>
                <section>
                    <img src="../jersey.jpeg">
                    <p>Jersey Seleccion Mexico</p>
                    <p>$1,000.00</p>
                </section>
                <form>
                    <button type="submit">Comprar</button>
                </form>
            </article>

            <h1>Centro de Mensajes</h1>
            <input type="text" id="user" placeholder="Ingresa tu usuario" />
            <input type="text" id="name" placeholder="Ingresa tu nombre" />
            <input
                type="text"
                id="lastName"
                placeholder="Ingresa tu apellido"
            />
            <input type="text" id="age" placeholder="Ingresa tu edad" />
            <input type="text" id="img" placeholder="Ingresa tu imagen" />
            <input type="text" id="text" placeholder="Ingresa tu mensaje" />
            <button onclick="sendMessage()" class="btn-chat">Enviar</button>
            <hr />
            <article id="chat">
                {{#each list.messages}}
                    <p>
                        <span>{{author}} - </span>
                        <span>{{date}}: </span>
                        <span>{{txt}}</span>
                    </p>
                {{/each}}
            </article>

        </main>

    </body>
</html>